{% extends 'index.html' %}
{% block content %}

<div class="top-space">
    <div>
        <h1>Hola {{request.user|title}}</h1>
        <h3 style="margin: 0;">Tienes {{count}} tarea{{count|pluralize}} sin completar</h3>
    </div>
    {% if request.user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}
</div>

<div id="create-search-work-item-area">
    <form action="" method="get" style="margin-top: 20px; display: flex;">
        <input type="text" name="search" placeholder="Buscar..." value="{{ request.GET.search }}">
        <button type="submit">Buscar</button>
    </form>
    <a id="link-add" href="{% url 'create-work-item' %}">&#x1F7A5;</a>
</div>

<div class="work-items-area">
    {% for work_item in work_items %}
    <div class="work-item">
        {% if work_item.completed %}
        <div class="work-item-title">
            <div class="work-item-icon"></div>
            <i><s><a href="{% url 'update-work-item' work_item.id %}">{{work_item}}</a></s></i>
        </div>
        <a class="link-delete" href="{% url 'delete-work-item' work_item.id %}">&#x274C;</a>
        {% else %}
        <div class="work-item-title">
            <div class="work-item-icon-uncompleted"></div>
                <a href="{% url 'update-work-item' work_item.id %}">{{work_item}}</a>
            </div>
        <a class="link-delete" href="{% url 'delete-work-item' work_item.id %}">&#x274C;</a>
        {%endif%}
    </div>

    {% empty %}
    <h3>No hay elementos en esta lista</h3>
    {% endfor %}
</div>

{% endblock content %}
